# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log

# Machine Learning
ml/saved_models/
*.pkl
*.h5

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db